[package]
name = "rew"
version = "0.1.0"
description = "A text processing CLI tool that rewrites FS paths according to a pattern."
categories = ["command-line-utilities", "text-processing", "filesystem"]
keywords = ["tool", "pattern", "regex", "rename", "path"]
authors = ["Jan Pikl <pikl.jan@gmail.com>"]
repository = "https://github.com/jpikl/rew"
documentation = "https://jpikl.github.io/rew"
license = "MIT"
edition = "2018"

[dependencies]
atty = "0.2.14"
clap = { version = "3.0.0-beta.2", features = ["wrap_help"] }
fs_extra = "1.2.0"
indoc = "1.0"
lazy_static = "1.4.0"
normpath = "0.1"
num-traits = "0.2.14"
pathdiff = "0.2.0"
regex = "1"
same-file = "1"
rand = "0.7.3"
termcolor = "1.1.0"
unidecode = "0.3.0"
uuid = { version = "0.8", features = ["v4"] }

[dev-dependencies]
assert_cmd = "1.0.1"
assert_fs = "1.0.0"
claim = "0.4.0"
ntest = "0.7.2"
predicates = "1.0.5"

[[bin]]
name = "rew"
path = "src/bin/rew/main.rs"

[[bin]]
name = "mvb"
path = "src/bin/mvb/main.rs"

[[bin]]
name = "cpb"
path = "src/bin/cpb/main.rs"

[lib]
name = "common"
path = "src/common/lib.rs"
