/*
 * We use empty table cells to visually split one table into two.
 */
.markdown-body table th:empty,
.markdown-body table td:empty {
	border-top-color: transparent;
	border-bottom-color: transparent;
	background-color: white;
	width: 2rem;
}

/*
 * On small displays, expanded .header-nav blocks user from clicking
 * on underlying links. This is probably a docpress bug.
 */
.header-nav.-expanded {
  pointer-events: none;
}
.header-nav.-expanded a {
  pointer-events: auto;
}
